<nav class="navbar navbar-inverse bg-inverse">
  <span class="navbar-toggler-icon link" (click)="toggle()"></span>

  <div class="navbar-toggler-right text-white">
    <span class="fa fa-cogs link " style="margin-right:15px"></span>
    <a class="link">
      <span class="fa fa-user"></span>
      {{usuario.nome}}
      <span class="fa fa-caret-down"></span>
    </a>
  </div>
</nav>

<div id="wrapper" [ngClass]="isToggled ? ['toggled'] : []">
  <div class="side-nav" id="sidebar-wrapper">
    <ul>
      <li>
        <a>
          <span class="fa fa-square-o"></span>
          <span>Primeiro componente</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content" id="paga-content-wrapper">

  </div>
</div>